<div class="resourceViewer">
  <div class="clr-row">
    <div class="clr-col-9">
      <div class="view-container">
        <app-cytoscape2
          [elements]="graphData"
          [layout]="layout"
          [zoom]="zoom"
          (select)="nodeChange($event)"
          (doubleClick)="openNode($event)"
        >
        </app-cytoscape2>
      </div>
    </div>
    <div class="clr-col-3">
      <div class="status-container">
        <app-view-object-status [node]="selectedNode"></app-view-object-status>
      </div>
    </div>
  </div>
</div>
